.header-wrapper {
    width: 100%;
    min-height: 5rem;
    text-align: center;
    background: lightgoldenrodyellow;
    .logo-wrapper {
    }
    input[type=text] {
        // height: 2rem;
        padding: 5px;
        border: 1px solid skyblue;
        background: rgba(211, 211, 211, 0.37);
        border-radius: 1rem;
        //margin: 0.3rem;
    }
    .sub-header {
        position: absolute;
        width: 50%;
        right: 27%;
        //left: 0;
        background: rgb(199, 141, 152);
        color: #fff;        
        border: 1px solid indianred;
        text-shadow: lightgrey;
        font-size: 0.8rem;
    }
}