.layout-wrapper {
    width: 100%;
    text-align: center;
    border: 2px solid yellow;
    section {
        background: url('../assets/listening.svg') center center no-repeat;
        height: 100vh;
    }
}